* {
    color: #fff;
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    background: radial-gradient(#222, #333, #222);
}

header,
main {
    background-color: #111;
    width: 75%;
    max-width: 500px;
    margin: 20px auto;
    border-radius: 15px;
}

header {
    text-align: center;
    padding: 20px;
}

main {
    padding: 50px;
}

li {
    list-style: none;
    margin-left: -35px;
}

a {
    text-decoration: none;
    font-weight: bold;
    line-height: 30px;
    font-size: 1.2rem;
}

a:hover {
    color: #888;
}

p {
    margin-bottom: 12px;
    font-size: 1.2rem;
}